$font-main: "Source Sans Pro", sans-serif;

@font-face {
    font-family: $font-main;
    src: url(../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf)
            format("opentype"),
        url(../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf) format("opentype");
}

@mixin fontset($size, $height: 100%, $weight: normal) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}
