.main {
    margin-left: 6rem;
    margin-right: 4rem;

    &__content {
        display: flex;
        gap: 4rem;
    }

    &__top {
        margin-bottom: 1.6rem;
    }

    &__top-title {
        @include fontset(4.8rem, 6.4rem, 700);
        color: $clr-text-main;
    }

    &__top-tab {
        color: $clr-text-secondary;
        @include fontset(2.4rem, null, 700);

        &:not(:last-child) {
            margin-right: 2.4rem;
        }

        &--active {
            color: $clr-text-main;
        }
    }

    &__chat {
        min-width: 56rem;
        background: #ffffff;
        @include shadowBig;
        border-radius: 1.6rem;
    }

    &__chat-top {
        padding: 4rem 4rem 1.6rem;
        border-bottom: 1px solid #e5e9f2;
    }

    &__chat-title {
        @include fontset(3.2rem, 4rem, 400);
        color: $clr-text-main;
    }

    &__chat-items {
        padding: 1.6rem 4rem 7rem;
        border-bottom: 1px solid #e5e9f2;
        display: flex;
        flex-direction: column;
    }

    &__chat-item {
        max-width: 35.2rem;

        &:not(:last-child) {
            margin-bottom: 1.6rem;
        }

        &:nth-child(odd) {
            align-self: flex-end;
        }

        &:nth-child(even) {
            align-self: flex-start;
        }

        &:nth-child(odd) .main__chat-text {
            background-color: #006aff;
            border-bottom-right-radius: 0;
            color: #fff;
        }

        &:nth-child(even) .main__chat-text {
            background-color: #e5e9f2;
            border-bottom-left-radius: 0;
            color: $clr-text-main;
        }

        &:nth-child(odd) .main__chat-date {
            text-align: right;
        }

        &:nth-child(even) .main__chat-date {
            text-align: left;
        }
    }

    &__chat-text {
        @include fontset(1.6rem, 2.4rem, 400);
        padding: 1.2rem 1.6rem;
        border-radius: 1.6rem;
    }

    &__chat-date {
        display: block;
        @include fontset(1.2rem, 1.6rem);
        color: $clr-text-secondary;
    }

    &__chat-bottom {
        padding: 1.6rem 4rem 3.2rem;
        display: flex;
        gap: 1.6rem;
    }

    &__chat-input {
        padding: 0.8rem;
        width: 100%;
        border: none;
        box-shadow: 0px 1px 2px rgba(24, 43, 73, 0.25),
            0px 1px 6px rgba(24, 43, 73, 0.1);
        border-radius: 0.6rem;

        &::placeholder {
            color: $clr-text-secondary;
            @include fontset(1.4rem, 1.6rem);
        }
    }

    &__chat-btn {
        background-color: $clr-banana-yellow;
        color: #fff;
        @include fontset(1.6rem, 2.4rem, 700);
        padding: 0.6rem 1.6rem;
        border-radius: 0.6rem;
    }

    &__textarea {
        resize: none;
        padding: 4rem 4.2rem;
        border: none;
        @include shadowBig;
        max-width: 120rem;
        width: 100%;
        border-radius: 1.6rem;

        &::placeholder {
            @include fontset(3.2rem, 4rem);
            color: $clr-text-main;
        }
    }
}
